<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Calendario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card center-flex color-card" size="large">
    <ion-card class="card-mini color-card2" size="small">
      <ion-datetime
        id="datetime"
        class="calendario"
        locale="es-ES"
        presentation="date-time"
        [formatOptions]="{
          date: {
            weekday: 'short',
            month: 'long',
            day: '2-digit',
          },
          time: {
            hour: '2-digit',
            minute: '2-digit',
          }
        }"
        [(ngModel)]="selectedDate">
      </ion-datetime>
      
      <div class="ion-text-center">
        <ion-button shape="round" (click)="saveEvent()">Crear Nuevo Evento</ion-button>
      </div>
    </ion-card>
  </ion-card>
</ion-content>
