<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="header">Cambio de contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card center-flex color-card">
    <br class="br1">
    <ion-input class="input text" fill="solid" ngModel email label="Ingrese su correo: "></ion-input>
    <ion-input class="input text" type="password" label="Nueva contraseña: "></ion-input>
    <br class="br1">
    <ion-button color="secondary" class="button"> Confirmar </ion-button>
    <a router-link="login">Ingresar a mi cuenta. </a>
  </ion-card>
<ion-footer>
  <ion-title class="footer">MARCIA app. &#64;DuocUC </ion-title>
</ion-footer>
</ion-content>
