<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> BIENVENIDO A MARCIA 
      <br> 
      tu app secretaria
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card class="card center-flex color-card">
      <img src="assets/icon/MARCIALOGOYTEXTO.jpg" alt="Logo de Marcia" class="logo">
      <br class="br1">
      <ion-input class="input.text" placeholder="Ingresa tu nombre: "> </ion-input>
      <ion-input class="input.text" fill="solid" ngModel email placeholder="Ingresa tu correo: "></ion-input>
      <ion-input class="input.text" type="password" placeholder="Contraseña: "></ion-input>
      <br class="br1">
      <ion-button class="button"> INICIAR SESIÓN </ion-button>
      <br>
      <a router-link href="changepassword"> Recuperar contraseña </a>
      <br>
      <a router-link href="register"> ¿Eres nuevo? Registrate acá </a>
    </ion-card>
  <ion-footer>
    <ion-title class="footer">MARCIA app. &#64;DuocUC. 2025. </ion-title>
  </ion-footer>
</ion-content>
