.logo {
    display: block;
    margin: 0 auto; /* Centrado horizontal */
    width: 250px; /* Ajusta tamaño del logo */
    height: auto; /* Mantiene proporción del logo */
    border-radius: 30px; /* Opcional: bordes redondeados */
  }