<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" style="height: 15px;">
    <ion-toolbar>
      <ion-title size="large" class="header">Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="card center-flex color-card">
    <br class="br1">
    <ion-input class="input text" label="Ingresa tu nombre: "> </ion-input>
    <ion-input class="input text" fill="solid" ngModel email placeholder="Ingresa tu correo: "></ion-input>
    <ion-input class="input text" type="password" placeholder="Ingresa tu contraseña: "></ion-input>
    <ion-input class="input text" type="password" placeholder="Repite la contraseña: "></ion-input>
    <br class="br1">
    <ion-button class="button"> LISTO, CREAR CUENTA </ion-button>
    <br>
    <a router-link href="login"> Ya tengo cuenta </a>
    <br>
  </ion-card>
<ion-footer>
  <ion-title class="footer">MARCIA app. &#64;DuocUC</ion-title>
</ion-footer>
</ion-content>
