<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card center-flex color-card">
    <img src="assets/icon/MARCIALOGOYTEXTO.jpg" alt="Logo de Marcia" class="logo">
      <br class="br1">
    <ion-input class="input.text" fill="solid" label="Ingresa tu nombre: "> </ion-input>
    <ion-input class="input.text" fill="solid" ngModel email placeholder="Ingresa tu correo: "></ion-input>
    <ion-input class="input.text" fill="solid" type="password" placeholder="Ingresa tu contraseña: "></ion-input>
    <ion-input class="input.text" fill="solid" type="password" placeholder="Repite la contraseña: "></ion-input>
    <br class="br1">
    <ion-button class="button"> LISTO, CREAR CUENTA </ion-button>
    <br>
    <a router-link href="login"> Ya tengo cuenta </a>
    <br>
  </ion-card>
<ion-footer>
  <ion-title class="footer">MARCIA app. &#64;DuocUC</ion-title>
</ion-footer>
</ion-content>
